/* hero section */
.hero-section {
  margin: 10px 0;
  padding: 20px;
  margin-bottom: 40px;
}
.hero-section h1 {
  margin-top: 45px;
}
.hero-section p {
  margin: 45px 0;
  padding: 20px;
}

#name, #title {
  color: var(--highlight-color);
  font-weight: bold;
}

.hero-section h2 {
  margin-bottom: 25px;
}
.hero-section .btn{
  margin-bottom: 30px;
}


/* Showcase (projects) */

/* About */
#about {
  margin: 20px 0;
  padding: 25px 30px;
}

#about-box{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

#about-paragraph h4 {
  text-align: center;
}

#about-paragraph {
  display: inline;
  flex-basis: 50%;
  padding: 0 10%;
  text-align: center;
}

#about-skill-list {
  display: inline;
  flex-basis: 50%;
  text-align: center;
}

#about-skill-list > ul  {
  list-style: none;
  text-align: center;
  padding: 0;
}

/* Contact */
/* in main.css this is a compondent */


/* Footer */
/* also a compondent */

